/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 4rem;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

:root{
    --main-color: #252422;
    --second-color: #403d39;
    --third-color: #ccc5b9;
    --fourth-color: #fffcf2;
    --fifth-color: white;
}

section{
    padding: 100px 10%;
}

*::selection{
    color: #fff;
    background: var(--main-color);
}

img{
    width: 100%;
}
#about-menu{
    display: flex;
}

#about-menu p{
    display: flex;
    letter-spacing: 7px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    box-shadow: 0 4px 41px #252422;
    padding: 15px 10%;
    transition: 0.2s;
}



.logo img{
    width: 60px;
    height: 55px;
}


.navbar{
    display: flex;
}

.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--fifth-color);
    font-weight: 600;
    display: flex;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.navbar a:hover{
    color: white;
    transition: all 0.3s ease;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

select{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    border: 2px solid var(--third-color);
    border-radius: 5px;
    padding: 5px;
   }

































   @media screen and (max-width: 1286px){
    .navbar a{
        font-size: 14px;
    }
    .logo{
        margin-left: -55px;
    }
    
    
}


@media screen and (max-width: 1238px){
    .navbar a{
        font-size: 14px;
    }
}
@media screen and (max-width: 1203px){
    
    .logo{
        margin-left: -70px;
    }

    .navbar a{
        padding: 10px;
    }
    
}



@media screen and (max-width: 1073px){
    
}





@media screen and (max-width: 1024px){

    .logo{
        margin-left: -140px;
    }

    .navbar a{
        font-size: 12px;
    }
}
@media screen and (max-width: 961px){
    .navbar a{
        font-size: 11px;
    }
    .logo{
        margin-left: -115px;
    }

    select{
        margin-left: 20px;
    }
   
}
@media screen and (max-width: 944px){
    .navbar a{
        font-size: 10px;
    }
}


@media screen and (max-width: 892px){
    header{
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        background: black;
        box-shadow: 0 4px 41px #252422;
        padding: 15px 2%;
        transition: 0.2s;
    }
    
  
    
.navbar{
    display: none;
}


.logo img{
    width: 40px;
    height: 35px;
}

.logo{
    margin-left: -200px;
}
   #menu-icon{
    display: initial;
   }

   #menu-icon i{
    justify-content: flex-end;
    
   }

   select{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    border: 2px solid var(--third-color);
    border-radius: 5px;
    padding: 5px;
   }

   option{
    background-color: black;
   }
   option:hover{
    background-color: black;
   }
   header .navbar{
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: black;
    box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
    border-top: 2px solid var(--main-color);
    transition: 0.2s;
    text-align: left;
   }

   .navbar a{
    padding: 1.5rem;
    display: block;
    color: var(--third-color);
    margin-left: 35px;
   }

   .navbar.active{
    top: 100%;
   }
   .home-text span{
    font-size: 0.9rem;
   }
   .home-text h1{
    font-size: 2.4rem;
   }
   .home-text h2{
    font-size: 1.2rem;
    
   }
}


@media screen and (max-width: 431px){
    header{
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        background: black;
        box-shadow: 0 4px 41px #252422;
        padding: 15px 2%;
        transition: 0.2s;
    }   
    
  
    
.navbar{
    display: none;
}


.logo img{
    width: 40px;
    height: 35px;
    margin-left: 0px;
}

.logo{
    margin-left: 30px;
}


   #menu-icon{
    display: initial;
    margin-left: 50px;
    
   }

   #menu-icon i{
    justify-content: center;
   }

   select{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    border: 2px solid var(--third-color);
    border-radius: 5px;
    padding: 5px;
   }

   option{
    background-color: black;
   }
   option:hover{
    background-color: black;
   }
   header .navbar{
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: black;
    box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
    border-top: 2px solid var(--main-color);
    transition: 0.2s;
    text-align: left;
   }

   .navbar a{
    padding: 1.5rem;
    display: block;
    color: var(--third-color);
    margin-left: 15px;
   }

   .navbar.active{
    top: 100%;
   }
   .home-text span{
    font-size: 0.9rem;
   }
   .home-text h1{
    font-size: 2.4rem;
   }
   .home-text h2{
    font-size: 1.2rem;
    
   }
}